.card-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0 32px;
  grid-gap: 42px;
}

.card {
  display: flex;
  gap: 16px;
  height: 270px;
  background: rgb(60, 62, 68);
  border-radius: 0.75rem;
}

.image {
  cursor: pointer;
  img {
    max-height: 270px;
    border-radius: 0.75rem 0px 0px 0.75rem;
  }
}

.card-inner {
  width: 100%;
}

.character-name {
  font-family: -apple-system, "BlinkMacSystemFont", "Segoe UI", "Roboto", "Helvetica", "Arial", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: 800;
  color: white;
  font-size: 32px;
  margin: 16px 0 8px 0;
  cursor: pointer;
  &:hover {
    color: rgb(255, 152, 0);
  }
}

.status-alive {
  height: 0.6rem;
  width: 0.6rem;
  margin-right: 0.375rem;
  background: rgb(85, 204, 68);
  border-radius: 50%;
}

.status-dead {
  height: 0.6rem;
  width: 0.6rem;
  margin-right: 0.375rem;
  background: rgb(214, 61, 46);
  border-radius: 50%;
}

.status-unknown {
  height: 0.6rem;
  width: 0.6rem;
  margin-right: 0.375rem;
  background: rgb(158, 158, 158);
  border-radius: 50%;
}

.text {
  font-family: -apple-system, "BlinkMacSystemFont", "Segoe UI", "Roboto", "Helvetica", "Arial", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  color: rgb(158, 158, 158);
  font-size: 16px;
  margin: 0;
}

.card-title {
  font-family: "rick";
  color: white;
  margin: 0;
}

.title {
  font-family: -apple-system, "BlinkMacSystemFont", "Segoe UI", "Roboto", "Helvetica", "Arial", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  color: white;
  letter-spacing: 4px;
  margin: 0;
}

.not-found {
  display: flex;
  align-items: center;
  justify-content: center;
  img {
    height: 300px;
  }
  h1 {
    font-family: -apple-system, "BlinkMacSystemFont", "Segoe UI", "Roboto", "Helvetica", "Arial", sans-serif,
      "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    color: white;
    font-size: 32px;
    font-weight: 900;
    letter-spacing: 3px;
  }
}

.parent-container {
  position: relative;
}

.btn-next {
  display: flex;
  margin: 16px 0px 0px 16px;
  flex-direction: column;
  gap: 4px;
  position: relative;
  .btn-up{
    width: 120px;
    position: fixed;
    bottom: 60px;
    left: 20px;
    color: white;
    &:hover {
      background-color: rgb(255, 152, 0);
      color: black;
    }
  }
  .btn-down{
    width: 120px;
    position: fixed;
    bottom: 20px;
    left: 20px;
    &:hover {
      background-color: rgb(255, 152, 0);
      color: black;
    }
  }
  .btn-up:hover .mat-icon {
    color: black;
  }
  .btn-down:hover .mat-icon {
    color: black;
  }
}
