<div class="parent-container">
  <app-btn-up *ngIf="showBtnUp"></app-btn-up>
  <div class="container">
    <div class="card-container">
      <div class="card" *ngFor="let character of filteredCharacters">
        <div class="image">
          <a (click)="goToCharacterDetail(character)">
            <img
              [src]="character.image"
              [alt]="character.name"
            />
          </a>
        </div>
        <div class="card-inner">
          <div class="header">
            <a (click)="goToCharacterDetail(character)">
              <h1 class="character-name">{{ character.name }}</h1>
            </a>
            <h2 class="status white">
              <span
                *ngIf="character.status === 'Alive'"
                class="status-alive"
              ></span>
              <span
                *ngIf="character.status === 'Dead'"
                class="status-dead"
              ></span>
              <span
                *ngIf="character.status === 'unknown'"
                class="status-unknown"
              ></span>
              {{ character.status }} - {{ character.species }}
            </h2>
            <h2 class="card-title">
              <p class="text">Last known location:</p>
              {{ character.location.name }}
            </h2>
            <h2 class="title">
              <p class="text">Created:</p>
              {{ character.created | date }}
            </h2>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="not-found" *ngIf="filteredCharacters.length === 0">
    <img src="../../../../assets/image/mr-meeseeks.png" />
    <h1>Ops! There is no character here<br />try another universe!</h1>
  </div>
  <div class="btn-next" *ngIf="showBtn">
    <button
      mat-raised-button
      (click)="previousPage(); scrollToTop()"
      *ngIf="pageNum > 1"
      class="btn-up"
    >
      <mat-icon>keyboard_arrow_left</mat-icon>Previous
    </button>
    <button
      mat-raised-button
      (click)="nextPage(); scrollToTop()"
      class="btn-down"
    >
      Next<mat-icon>keyboard_arrow_right</mat-icon>
    </button>
  </div>
</div>
