@import "../../../assets/mixins";

.search-label {
  height: 48px;
  margin: 0 8px 0 28px;
  border-radius: 16px;
  padding-left: 16px;
  width: 90vw;
  @include respond-to("small") {
    height: 64px;
    margin: 0;
    width: 100vw;
  }
}

.btn-search {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  height: 48px;
  border-radius: 8px;
  background-color: rgb(255, 152, 0);
  @include respond-to("small") {
    display: none;
  }
}

.home-title {
  color: white;
  font-size: 42px;
  font-weight: 600;
  letter-spacing: 8px;
  margin-bottom: 42px;
  @include respond-to("small") {
    text-align: center;
    font-size: 32px;
  }
}

.label {
  display: flex;
}
