<div>
  <div class="container-title">
    <h1 class="location-title">Locations</h1>
    <button mat-raised-button class="back-home" routerLink="/">
      <mat-icon>keyboard_arrow_left</mat-icon> Back Home
    </button>
  </div>
  <div class="white-line"></div>
  <p class="page">Current Page - {{ pageNum }}</p>
  <div *ngFor="let location of locations">
    <div class="locations">
      <div>
        <ul>
          <li class="text">- {{ location.name }}</li>
        </ul>
      </div>
      <div>
        <p
          class="text-locations"
          (click)="location.showResidents = !location.showResidents"
        >
          | Characters See - {{ location.residents.length }}
        </p>
      </div>
    </div>
    <div class="residents" *ngIf="location.showResidents">
      <a
        *ngFor="let resident of location.residents"
        [routerLink]="['/character-detail', getId(resident)]"
        class="text-residents"
      >
        - {{ resident }}
      </a>
    </div>
  </div>
  <div class="btn-next">
    <button
      mat-raised-button
      (click)="previousPage(); scrollToTop()"
      *ngIf="pageNum > 1"
      class="btn"
    >
      <mat-icon>keyboard_arrow_left</mat-icon>Previous
    </button>
    <button mat-raised-button (click)="nextPage(); scrollToTop()" class="btn">
      Next<mat-icon>keyboard_arrow_right</mat-icon>
    </button>
  </div>
</div>
