<mat-toolbar>
  <div class="header">
    <div class="container">
      <h1 class="rick logo" routerLink="/">Rick and Morty</h1>
      <h1 class="nav-menu"><a routerLink="/characters">Characters</a></h1>
      <h1 class="nav-menu"><a routerLink="/locations">Locations</a></h1>
      <h1 class="nav-menu"><a routerLink="/episodes">Episodes</a></h1>
    </div>
    <div>
      <h1 class="rick nav-menu">
        <a href="https://rickandmortyapi.com/" target="_blank">DOCUMENT'S</a>
      </h1>
    </div>
  </div>
</mat-toolbar>
